<html>
<body>
<div id="app">
    <input type="file" accept="image/*" :disabled="isResizing" multiple @change="onImageChange">
    <br>
    <button type="button" @click="onSubmit">送信</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            maxWidth: 300,
            smallImages: [],
            isResizing: false
        },
        methods: {
            onSubmit() {

                let formData = new FormData;

                this.smallImages.forEach((smallImage) => {

                    formData.append('images[]', smallImage);

                });

                axios.post('/resize_ajax', formData)
                    .then((response) => {

                        // Ajax通信が成功した時

                    });

            },
            onImageChange(e) {

                this.isResizing = true;
                this.smallImages = [];
                const files = e.target.files;

                for(let file of files) {

                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = (e) => {

                        let img = new Image();
                        img.onload = () => {

                            let width = img.width;
                            let height = img.height;

                            if(width > this.maxWidth) {

                                height = Math.round(height * this.maxWidth / width);
                                width = this.maxWidth;

                            }

                            let canvas = document.createElement('canvas');
                            canvas.width = width;
                            canvas.height = height;
                            let ctx = canvas.getContext('2d');
                            ctx.drawImage(img, 0, 0, width, height);
                            ctx.canvas.toBlob((blob) => {

                                const imageFile = new File([blob], file.name, {
                                    type: file.type,
                                    lastModified: Date.now()
                                });
                                this.smallImages.push(imageFile);

                                if(this.smallImages.length == files.length) {

                                    this.isResizing = false;    // リサイズ完了！

                                }

                            }, file.type, 1);

                        };
                        img.src = e.target.result;

                    };

                }

            }
        }
    })

</script>
</body>
</html>
