body {
    font-family: sans-serif;
  }

  input {
    border-radius: 16px;
    /* border: none; */
    border: 1px solid #666;
    padding: 6px 16px;
    outline: none;
  }

  button {
    border-radius: 16px;
    border: none;
    padding: 4px 16px;
  }
  
  button:hover {
    background-color: #ff7fff;
    color: #fff;
    cursor: pointer;
  }

.title{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    color: #666;
}

.post_comment1{
    font-size: 14px;
}

.post_comment2{
    font-size: 13px;
}

.post_comment3{
    font-size: 10px;
}

/* home */
.home{
    display: flex;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

.home .items{
    width: 25%;
    min-height: 200px;
}

.home .info{
    width: 75%;
    min-height: 200px;
    background-color: #fff66f;
}

/* drink */
.drink{
    background-color: #fff66f;
    padding: 2px 0;
    
}

.drink .items{
    margin: 0 auto;
    text-align: center;
    width:70%;
    background-color: white;
    border-radius: 16px;
}

.drink .items .post_image{
    max-height: 140px
}

/* register */
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff66f;
}

/* .event */
.event{
    background-color: #d5ffd4;
    padding: 2px 0;
}

.event .items{
    margin: 0 auto;
    text-align: center;
    width:70%;
    background-color: white;
    border-radius: 16px;
}

.event .items .post_image{
    max-height: 100px
}